<div class="wrapper" *ngIf="masterService.auth.value">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp></footer-cmp>
    </div>
</div>

<div *ngIf="!masterService.auth.value">
    <app-login class="loginForm"></app-login>
</div>