<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-header">
                        <h4 class="card-title">List Dokumen</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="uploadBtn">
                        <button class="btn btn-primary btn-round" (click)="goTo('upload/new')">Upload Dokumen</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                No.
                            </th>
                            <th>
                                Nama Dokumen
                            </th>
                            <th>
                                Jenis Dokumen
                            </th>
                            <th>
                                Tanggal Upload
                            </th>
                            <th class="text-right">
                                Download
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of LIST_FILES; let idx = index;">
                                <td (click)="goTo('upload/'+i.id)">
                                    {{idx+1}}
                                </td>
                                <td (click)="goTo('upload/'+i.id)">
                                    {{i.fileName}}
                                </td>
                                <td (click)="goTo('upload/'+i.id)">
                                    {{i.tipeFileString }}
                                </td>
                                <td (click)="goTo('upload/'+i.id)">
                                    {{i.uploadDate | date }}
                                </td>
                                <td class="text-right">
                                    <a href="http://localhost:8000/files/download/{{i.id}}" target="_blank"
                                        class="btn btn-border" download="fileName.pdf">Download</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>