<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">{{TITLE_PAGE}}</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="uploadForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nama Dokumen</label>
                                <input type="text" class="form-control" placeholder="Nama Dokumen"
                                    formControlName="fileName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tipe File</label>
                                <select class="form-control" placeholder="Tipe FIle" formControlName="tipeFile">
                                    <option value="" disabled>
                                        Tipe File
                                    </option>
                                    <option value="1">
                                        Nota Dinas
                                    </option>
                                    <option value="2">
                                        Disposisi
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <label style="padding-right: 3%">Pilih File</label>
                                <input type="file" (change)="onChangeFile($event)" accept="application/pdf">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="activatedRoute.snapshot.paramMap.get('id') == 'new';else notNewTemp">
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-round" (click)="submit()"
                                    [disabled]="!uploadForm.valid">Upload
                                    Dokumen</button>
                            </div>
                        </div>
                    </div>
                    <ng-template #notNewTemp>
                        <div class="row">
                            <div class="col-md-6">
                                <div style="text-align: end;">
                                    <button type="submit" class="btn btn-primary btn-round" (click)="update()"
                                        [disabled]="!uploadForm.valid">Ubah
                                        Dokumen</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="update ml-auto mr-auto">
                                    <button type="submit" class="btn btn-danger btn-round" (click)="delete()"
                                        [disabled]="USER.userType == 2">Hapus
                                        Dokumen</button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </form>
            </div>
        </div>
    </div>
</div>