<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">LOGIN</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="loginForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nomor Induk Pegawai</label>
                                <input type="text" class="form-control" placeholder="NIP" formControlName="nip">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="password"
                                    formControlName="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round" (click)="login()"
                                [disabled]="!loginForm.valid">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>