<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Edit Profile</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="userForm">
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Nama Depan</label>
                                <input type="text" class="form-control" placeholder="Nama Depan"
                                    formControlName="firstName">
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Nama Belakang</label>
                                <input type="text" class="form-control" placeholder="Last Name"
                                    formControlName="lastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>NIP</label>
                                <input type="number" class="form-control" placeholder="Nomor Induk Pegawai"
                                    formControlName="nip">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status Karyawan</label>
                                <select class="form-control" placeholder="Tipe Pengguna" formControlName="userType">
                                    <option value="" disabled>
                                        Status Karyawan
                                    </option>
                                    <option value="1">
                                        Administrator
                                    </option>
                                    <option value="2">
                                        User
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="password" id="pwd"
                                    formControlName="password">
                                <i class="iconFix" (click)="showPassword()"><i class="nc-icon {{ICON_LOGIN}}"></i></i>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="activatedRoute.snapshot.paramMap.get('id') == 'new';else notNewTemp">
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-round" (click)="submit()"
                                    [disabled]="!userForm.valid">Tambah
                                    Pengguna</button>
                            </div>
                        </div>
                    </div>
                    <ng-template #notNewTemp>
                        <div class="row">
                            <div class="col-md-6">
                                <div style="text-align: end;">
                                    <button type="submit" class="btn btn-primary btn-round" (click)="update()"
                                        [disabled]="!userForm.valid">Ubah
                                        Pengguna</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="update ml-auto mr-auto">
                                    <button type="submit" class="btn btn-danger btn-round" (click)="delete()">Hapus
                                        Pengguna</button>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </form>
            </div>
        </div>
    </div>
</div>