<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-header">
                        <h4 class="card-title">List Pengguna</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="uploadBtn">
                        <button class="btn btn-primary btn-round" (click)="goTo('profil/new')">Tambah Pengguna</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                No.
                            </th>
                            <th>
                                Nama Depan
                            </th>
                            <th>
                                Nama Belakang
                            </th>
                            <th>
                                NIP
                            </th>
                            <th>
                                Status
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of LIST_USERS; let idx = index;">
                                <td (click)="goTo('profil/'+i.id)">
                                    {{idx+1}}
                                </td>
                                <td (click)="goTo('profil/'+i.id)">
                                    {{i.firstName}}
                                </td>
                                <td (click)="goTo('profil/'+i.id)">
                                    {{i.lastName }}
                                </td>
                                <td (click)="goTo('profil/'+i.id)">
                                    {{i.nip }}
                                </td>
                                <td>
                                    {{i.userType }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>